@model Todo

@{ 
    ViewData["Title"] = "Delete";
}

<form method="post" asp-action="Delete_Post" class="table">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-primary pl-3">Delete Task</h2>
        </div>
        <div class="row">
            <div class="w-100">
                <div class="col-3">
                    <input asp-for="Id" hidden />
                </div>
                <div class="col-3">
                    <label asp-for="TaskName"></label>
                    <input asp-for="TaskName" class="form-control" disabled />
                    <span asp-validation-for="TaskName" class="text-danger"></span>
                </div>
                <div class="col-3 w-auto m-3">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control " rows="6" disabled></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="col-1 m-3">
                    <label asp-for="Priority"></label>
                    <input asp-for="Priority" class="form-control" min="0" max="5" disabled />
                    <span asp-validation-for="Priority" class="text-danger"></span>
                </div>
                <div class="col-1 m-3">
                    <label asp-for="Status"></label>
                    <select asp-for="Status" disabled class="fw-bold">
                        <option>@Model.Status</option>
                    </select>
                </div>
                <div class="col-1 m-3">
                    <label asp-for="Tag">Choose Tag</label>
                    <select asp-for="Tag" class="list-group-item-secondary fw-bold" disabled>

                        <option value="@null" class="h5">&nbsp;No Tag</option>

                        <option value="Food" class="h4 bg-warning bg-opacity-75">Food</option>

                        <option value="Perishable" class="h5 bg-warning bg-opacity-50">&nbsp;Perishable</option>
                        <option value="Meat" class="bg-warning bg-opacity-25">&nbsp;Meat</option>
                        <option value="Fish" class="bg-warning bg-opacity-25">&nbsp;Fish</option>
                        <option value="Eggs" class="bg-warning bg-opacity-25">&nbsp;Eggs</option>
                        <option value="Dairy" class="bg-warning bg-opacity-25">&nbsp;Dairy</option>
                        <option value="Fruit" class="bg-warning bg-opacity-25">&nbsp;Fruit</option>
                        <option value="Vegetables" class="bg-warning bg-opacity-25">&nbsp;Vegetable</option>

                        <option value="Bread" class="fw-bold bg-warning bg-opacity-25">&nbsp;Bread</option>
                        <option value="Sourdough Bread" class="small bg-warning bg-opacity-10">&nbsp;&nbsp;Sourdough Bread</option>
                        <option value="Wheat Bread" class="small bg-warning bg-opacity-10">&nbsp;&nbsp;Wheat Bread</option>
                        <option value="Rye Bread" class="small bg-warning bg-opacity-10">&nbsp;&nbsp;Rye Bread</option>

                        <option value="Non-Poneperishable" class="h5 bg-warning bg-opacity-50">&nbsp;Non-Poneperishable</option>
                        <option value="Pasta" class="bg-warning bg-opacity-25">&nbsp;Pasta</option>
                        <option value="Wheat" class="bg-warning bg-opacity-25">&nbsp;Wheat</option>
                        <option value="Rice" class="bg-warning bg-opacity-25">&nbsp;Rice</option>
                        <option value="Oils" class="bg-warning bg-opacity-25">&nbsp;Oils</option>

                        <option value="Cans" class="fw-bold bg-warning bg-opacity-25">&nbsp;Cans</option>
                        <option value="Canned Vegetables" class="small small bg-warning bg-opacity-10">&nbsp;&nbsp;Canned Vegetables</option>
                        <option value="Canned Meat" class="small small bg-warning bg-opacity-10">&nbsp;&nbsp;Canned Meat</option>
                        <option value="Canned Fruit" class="small small bg-warning bg-opacity-10">&nbsp;&nbsp;Canned Fruit</option>
                        <option value="Canned Fish" class="small small bg-warning bg-opacity-10">&nbsp;&nbsp;Canned Fish</option>

                        <option value="Work" class="h4 bg-primary bg-opacity-75">Work</option>

                        <option value="Agile" class="h5 bg-primary bg-opacity-50">&nbsp;Agile</option>
                        <option value="User-story" class="bg-primary bg-opacity-25">&nbsp;&nbsp;&nbsp;User-story</option>
                        <option value="Issues" class="bg-primary bg-opacity-25">&nbsp;&nbsp;&nbsp;Issues</option>
                        <option value="Task" class="bg-primary bg-opacity-25">&nbsp;&nbsp;&nbsp;Task</option>
                        <option value="Epic" class="bg-primary bg-opacity-25">&nbsp;&nbsp;&nbsp;Epic</option>

                        <option value="Meating" class="h5 bg-primary bg-opacity-50">&nbsp;Meeting</option>
                        <option value="External Meeting" class="bg-primary bg-opacity-25">&nbsp;&nbsp;&nbsp;External Meeting</option>
                        <option value="Internal Meeting" class="bg-primary bg-opacity-25">&nbsp;&nbsp;&nbsp;Internal Meeting</option>

                    </select>
                </div>
                <br />
                <div class="form-group w-100">
                    <div class="col-8 row m-auto ">
                        <div class="col">
                            <input type="submit" class="btn btn-danger w-75" value="Delete" />
                        </div>
                        <div class="col">
                            <a asp-controller="Home" asp-action="Index" class="btn btn-info w-75">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
